.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.cart-item{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.item-detail{
  line-height: 8px;
  text-align: left;
}
.counter{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
